.article-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    width: 18rem;
    margin-bottom: 20px;
}

#monBloc {
    visibility: hidden;
}
